[Unit]
Description=Randomly Say Things
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/python /home/jams/things_mary_says/things_mary_says.py
Environment=PYTHONPATH=/home/jams/bin:$PYTHONPATH

[Install]
WantedBy=multi-user.target
